name: Maven & Docker Build Native Image & Deploy to Docker Hub

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Compile, Build Native, Build Docker Image, Push on Github
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      # --- ESTRAZIONE VERSIONE DAL POM ---
      - name: Extract Maven project version
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "APP_VERSION=$VERSION" >> $GITHUB_ENV
      # -----------------------------------

      - name: Maven Package (Native)
        run: mvn clean package -DskipTests=true -Pnative -Dquarkus.native.container-build=true

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push arm64
        id: docker_build2
        uses: docker/build-push-action@v6
        with:
          context: ./
          platforms: linux/amd64,linux/arm64
          file: ./src/main/docker/Dockerfile.native-micro
          push: true
          # Usa la variabile estratta dal pom.xml
          tags: |
            snellocms/snello-api-quarkus:${{ env.APP_VERSION }}-native
            snellocms/snello-api-quarkus:latest-native
          
      - name: Image digest
        run: echo ${{ steps.docker_build2.outputs.digest }}
